[package]
name = "blaze-vt"
version = "0.1.0"
edition = "2024"
license = "AGPL-3.0"

[dependencies]
clap = { version = "4.5", features = ["derive"] }
type-mapper = "0.1.2"
bytemuck = { version = "1.24", features = ["derive"] }
paste = "1"
#i8051 = { path = "../i8051/crates/i8051" }
#i8051-debug-tui = { path = "../i8051/crates/i8051-debug-tui" }
i8051 = { version = "0.9.0" }
i8051-debug-tui = { version = "0.9.0" }
tracing = "0.1.41"
tracing-subscriber = "0.3.20"
ratatui = "0.29.0"
hex-literal = "1.1"

[dev-dependencies]
tempfile = "3.23"

[[example]]
name = "disassemble-rom"
