[package]
name = "vt-emulator"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.0", features = ["derive"] }
type-mapper = "0.1.2"
bytemuck = { version = "1.23", features = ["derive"] }
paste = "1"
i8051 = { path = "../i8051/crates/i8051" }
tracing = "0.1.41"
tracing-subscriber = "0.3.20"

[dev-dependencies]
tempfile = "3.23"

[[example]]
name = "disassemble-rom"
